#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_DRV_KEYBOARD
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Custom"
            VALUE "FileDescription", "United States-International - AltGr - No Dead Keys"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "kbdusaltgr"
            VALUE "OriginalFilename", "kbdusaltgr.dll"
            VALUE "ProductName", "United States-International - AltGr - No Dead Keys"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
